.ProgressBar {
    position: relative;
    margin: 12px;
    width: 100%;

    

    .TitleArea {
        position: relative;
        height: 20px;
        width: 100%;

        margin-bottom: 12px;

        .ColorBar {
            position: absolute;
            top: 0;
            left: 0;
    
            width: 20px;
            height: 20px;
    
            border-radius: 12px;
        }

        .Title {
            position: absolute;
            left: 28px;
            top: 2px;

            display: inline-block;
            width: calc(100% - 80px);
            height: 20px;
    
            font-size: 16px;
    
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    

    .Bar {
        position: relative;
        display: inline-table;

        width: calc(100% - 80px);
        height: 20px;

        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: black;

        .Fill {
            height: 20px;
        }

        .Marker {
            position: absolute;
    
            top: -5px;
    
            background: black;
            width: 1px;
            height: 30px;
        }
    }

    .Details {
        position: relative;
        display: inline-table;
        width: 50px;

        margin-left: 12px;

        .Text {
            position: absolute;
            bottom: 0px;
        }
    }
}